h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    font: 400 13.3333px Arial;
    display: block;
    margin-top: 5px;
}

p {
    color: chocolate;
}

#bd-input {
    padding-right: 12px;
}

#submit {
    cursor: pointer;
    border: 1px solid #cccccc;
    background-color: #333744;
    color: white;
    padding: 8px;
    margin-top: 5px;
}

#welcome-msg {
    font-size: 28px;
}